.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

/* Deazine for infected card  */
.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

/* Deazine for recovered card  */
.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
/* Deazine for death card  */
.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
